.pieChart {
  width: 300px;
  padding: 20px;
  height: 230px;
  background-color: transparent !important;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  position: relative;
  overflow: hidden;
  border: solid 1px #CACED6;
}