.modalContainer {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.titleRow {
  display: flex;
  align-items: center;
  gap: 10px;
}

.modalTitle {
  margin: 0;
}

.buttonGroup {
  display: flex;
  gap: 1rem;
  justify-content: end;
}

@media (max-width: 640px) {
  .buttonGroup {
    flex-direction: column;
  }
  
  .buttonGroup button {
    width: 100%;
  }
}